{variables, [
  {name, "suitename"}, 
  {copyright_year, "2011"},
  {author_name, "Susan Potter"},
  {author_email,"me@susanpotter.net"}
]}.
{dir, "test"}.
{template, "ctsuite.erl", "test/{{name}}_SUITE.erl"}.
