{variables, [
  {script_name, "escriptname"}, 
  {copyright_year, "2011"},
  {author_name, "Susan Potter"},
  {author_email,"me@susanpotter.net"}
]}.
{dir, "bin"}.
{template, "escript", "bin/{{script_name}}"}.
{chmod, 8#00770, "bin/{{script_name}}"}.
