{variables, [
  {name, "appname"},
  {appdir, "Path to application directory."}
]}.
{dir, "{{appdir}}/src"}.
{template, "finapp/finapp.app.src", "{{appdir}}/src/{{name}}.app.src"}.
{template, "finapp/finapp_app.erl", "{{appdir}}/src/{{name}}_app.erl"}.
{template, "finapp/finapp_sup.erl", "{{appdir}}/src/{{name}}_sup.erl"}.
