{variables, [
  {name, "appname"}
]}.
{dir, "{{app_dir}}/src"}.
{template, "finapp/finapp.app.src", "{{app_dir}}/src/{{name}}.app.src"}.
{template, "finapp/finapp_app.erl", "{{app_dir}}/src/{{name}}_app.erl"}.
{template, "finapp/finapp_sup.erl", "{{app_dir}}/src/{{name}}_sup.erl"}.
