{variables, [
  {name, "supname"}, 
  {app_dir, "."},
  {copyright_year, "2011"},
  {author_name, "Susan Potter"},
  {author_email,"me@susanpotter.net"}
]}.
{dir, "{{app_dir}}/src"}.
{template, "finsup.erl", "{{app_dir}}/src/{{name}}_sup.erl"}.
