{variables, [
  {page_name, "pagename"}, 
  {app_name, "app_name"},
  {copyright_year, "2011"},
  {author_name, "Susan Potter"},
  {author_email,"me@susanpotter.net"}
]}.
{dir, "test"}.
{template, "ctsuite.erl", "test/{{suite_name}}_SUITE.erl"}.
