{variables, [
  {name, "elementname"}, 
  {app_name, "app_name"},
  {copyright_year, "2011"},
  {author_name, "Susan Potter"},
  {author_email,"me@susanpotter.net"}
]}.
{template, "nitroelem.erl", "src/{{app_name}}_{{name}}_element.erl"}.
