{variables, [
  {name, "my_resource"}, 
  {app_name, "wm_app"},
  {copyright_year, "2011"},
  {author_name, "Susan Potter"},
  {author_email, "me@susanpotter.net"}
]}.
{template, "webmachine_resource.erl", "src/{{app_name}}_{{name}}_resource.erl"}.
